*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-family);
}

@font-face { font-family: SfPro; src: url('FontsFree-Net-SFProDisplay-Regular\ \(1\).ttf'); } 

:root {
    --font-family: SfPro;
    --header-height: 3.7em;
    --p: sans-serif;
}

header, nav{
    background-color: white;
    box-shadow: -0.5px 0.01px 3px 0px rgb(192, 192, 192);
    position: fixed;
    height: var(--header-height);
    min-width: 100%;
}

li:nth-of-type(1) img{
    height: 3em;
}

li:nth-of-type(2) img{
    height: 1.7em;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.3em;
}

main{
    padding-top: var(--header-height);
    background-color: #f6f6f6;
}


main section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(1) img{
    width: 100%;
}

main section:nth-of-type(1) h1{
    font-size: 2em;
    font-family: var(--font-family);
    text-align: center;
    padding: 1.5em;
    font-weight: bold;
}

main section:nth-of-type(1) p{
    width: 75%;
    text-align: center;
    padding-bottom: 3em;
    font-family: var(--p);
}

main section:nth-of-type(1) a{
    color: #ea3f9d;
}

main section:nth-of-type(2){
    font-family: var(--p);
    padding-bottom: 10em;
}


main section:nth-of-type(2) ul{
    padding: 4em;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 6em;
    row-gap: 1em;
}

main section:nth-of-type(2) li{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-weight: bold;
    font-size: 0.8em;
    gap: 1em;
    margin-right: 5em;
}

main  section:nth-of-type(2) input{
    height: 2.5em;
    width: 85%;
    border: solid 0.4em;
    border-radius: 0.3em;
    box-shadow: 1px 4px 5px #dfdfdf;
    border-image: url(images/border.png) 30 round;
}

main section:nth-of-type(2) select{
    height: 3em;
    border: solid 0.4em;
    border-radius: 0.3em;
    box-shadow: 1px 4px 5px #dfdfdf;
    border-image: url(images/border.png) 30 round;
    width: 90%;
}


main section:nth-of-type(3){
    background-color: white;
    box-shadow: 4px 4px 10px #dfdfdf;
}

.lijst{
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 80%;
    padding: 0.5em;
    margin-left: 8em;
}

.dagen{
    grid-row-start: 2;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    gap: 2em;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.tijden{
    display: flex;
    gap: 1.5em;
    grid-column-start: 2;
    grid-row-start: 2;
}

li button{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
    margin-left: -0.4em;
}

li p{
    margin-bottom: 1em;
    font-size: 0.8em;
    padding-bottom: 0.8em;
}

li{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 2.5em;
}

input[type="checkbox"]{
    transform: scale(2);
    cursor: pointer;
    accent-color: #ea3f9d;   
    outline: white;
}

main section:nth-of-type(4){
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    justify-content: left;
    margin-top: 2em;
    margin-left: 2em;
    font-size: 0.7em;
}

main section:nth-of-type(4) input[type="checkbox"]{
    transform: scale(1);
}

main section:nth-of-type(4) a{
    color: #ea3f9d;
    cursor: pointer;
    text-decoration: underline;
}

main section:nth-of-type(5) button{
    border: solid #eae7e7;
    border-radius: 0.3em;
    box-shadow: 0px 1px 5px 0px #7c7c7c;
    background-color: white;
    height: 2.5em;
    width: 11em;
    font-weight: bold;
    margin-top: 4em;
    cursor: pointer;
}

main section:nth-of-type(5) button:hover{
    border: solid 0.2em;
    border-image: url(images/border.png) 30 round;
    border-radius: 0.3em;
    transform: scale(1.1);
    transition-duration: .3s;
}

main section:nth-of-type(5){
    font-family: var(--p);
    padding-bottom: 10em;
}

main section:nth-of-type(5){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:48em) {
    main section:nth-of-type(2) ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main section:nth-of-type(2) form{
        margin-left: 2em;
    }

    main section:nth-of-type(3){
        overflow: auto;
    }

    main section:nth-of-type(5) button{
        margin-left: 0em;
    }

    .tijden{
        margin-left: 1em;
    }

    .lijst{
        margin-left: 0em;
    }
 }